/* Fonts */
@font-face {
  font-family: 'Tempus Sans ITC';
  src: url('./res/fonts/tempsitc.ttf');
}
@font-face {
  font-family: 'Graal';
  src: url('./res/fonts/graal.ttf');
}

/* Customization */
* {
  box-sizing: border-box;
  /* touch-action: none; */
}
/*
:root {
  --background-color: #1b1a1a;
  --primary-color: oklch(45.12% 0.267 268.81);
  --secondary-color: oklch(94.45% 0.03 268.81);
}
*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.3;

  color: var(--primary-color); /* #555 */
  background-color: var(--background-color);
  /* background-image: url("background.png"); */

  /* touch-action: none; */
}
canvas {
  touch-action: none;
}
header {
  padding: 50px;
}
/*
div.theme {
  width: 6em;
}
*/

/* Configuration */
section {
  max-width: 800px;
  margin: auto;
}
article {
  float: left;
}
nav {
  float: left;
  width: auto;
  padding: 20px;
  padding-bottom: 10px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  padding: 20px;
  font-size: 11.5px;
  font-family: "Tempus Sans ITC", sans-serif;
  text-align: center;
}
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}

/* Color Space */
/*
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;

  background: transparent;

  cursor: pointer;
  width: 100%;
}

input[type='range']::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    oklch(45.12% 0.267 0),
                                    oklch(45.12% 0.267 90),
                                    oklch(45.12% 0.267 180),
                                    oklch(45.12% 0.267 270),
                                    oklch(45.12% 0.267 360)
  );

  height: 0.25rem;
  border-radius: 100px;
  margin: 0 0.25rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  margin-top: -0.25rem;

  background-color: var(--primary-color);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1000px;
  border: 2px solid white;
}
*/

/* Buttons */
/*
.ar {
  direction: rtl;
  text-align: right;
}
.ar button.close span {
  display: none;
}
.uploads .form-check label.btn-graal {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}
.uploads .form-check, .btn-group-fill {
  box-sizing: border-box;
  width: 100%;
}
.uploads {
  margin-bottom: 16px;
}
a, a:visited {
  color: #5d9660;
}
a:hover {
  color: #314e33;
  text-decoration: none;
}
.uploads .btn-graal {
  color: #446a46;
  border-color: #5d9660;
}
.uploads .active {
  color: #fff;
  background-color: #5d9660;
  border-color: #5d9660;
}
.uploads .active:hover {
  color: #fff;
  background-color: #446a46;
  border-color: #446a46;
}
.uploads label {
  line-height: 2;
  padding-left: 7px;
  padding-right: 7px;
}
.tw {
  width: 100px;
}
.sl {
  padding-top: 8px;
}
.gr {
  width: 59.781px;
  text-align: center;
  display: block;
  padding-bottom: 6px;
  font-style: italic;
  font-size: 12px;
  margin-right: 6px;
  line-height: 1;
  height: 30px;
}
.grg {
  width: 61.781px;
  text-align: center;
  font-size: 12px;
  display: block;
  padding-bottom: 6px;
  margin-right: 4px;
  font-style: italic;
  line-height: 1;
  height: 30px;
}
.btn img {
  margin-top: -2px;
  padding-bottom: 2px;
}
.btn-graal {
  color: #fff;
  background-color: #5d9660;
  border-color: #5d9660;
}
.btn-graal img {
  padding-top: 6px;
  text-align: center;
}
.btn-graal:hover {
  color: #fff;
  background-color: #446a46;
  border-color: #446a46;
}
.btn.focus {
  box-shadow: none;
}
.formbg {
  padding-top: 12px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.88);
}
.dropdown {
  float: right;
  position: relative;
}
.ar .dropdown {
  float: left;
}
